html {
    background-image: url('textured_stripes.png');
    background-repeat: repeat;
}
body {
    width: 400px;
    margin: auto;
    background-color: white;
    padding: 10px;
}

h1 {
    font-family: ‘Metrophobic’, Arial, serif;
    font-weight: 400;
}
