<!DOCTYPE html>
<html ng-app="jqmREST">
    <head>
        <title>Hello World</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="res/jquery.mobile-1.3.1.css" rel="stylesheet">
        <script src="res/jquery-1.9.1.min.js "></script>
        <script src="res/angular.min.js "></script>
        <script src="res/jquery.mobile-1.3.1.min.js "></script>
        <script src="index_jqm_rest.js "></script>
        <script>
            $(document).ready(function() {
                console.log('ready');
                $("#refreshLink").on('vclick', function() {
                    angular.element("#main ").scope().refresh();
                });
                $("#saveLink").on('vclick', function() {
                    angular.element("#main ").scope().save();
                });
            })
        </script>
    </head>
    
    <body>
        <div id='main' data-role=page  ng-controller="jqmRESTctrl">
            <div data-role="header" data-theme="b">
                <h1>Hello {{yourCountry}}</h1>
            </div>
            <div data-role="content">
                <form>
                    <fieldset data-role="controlgroup ">
                        <legend>Where are you ?</legend>
                        <label for="countryselect " class="select ">Your Country</label>
                        <select id="countryselect " name="countryselect" ng-model="yourCountry ">
                            <option value="World">World</option>
                            <option value="Belgium">Belgium</option>
                            <option value="France">France</option>
                            <option value="Germany">Germany</option>
                        </select>
                    </fieldset>
                </form>
            </div>
            <div data-role="footer" data-position="fixed">
                <div data-role="navbar">
                    <ul>
                        <li><a id="refreshLink" href="#" data-icon="refresh" data-theme="b" data-role="button">Sync</a></li>
                        <li><a id="saveLink" href="#" data-icon="check" data-theme="b" data-role="button">Save</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
