<!DOCTYPE html>
<html ng-app>
    
    <head>
        <title>Hello World</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    </head>
    
    <body>
        <h1>Hello, {{yourCountry}}</h1>
        <div>
            <form>
              <fieldset>
                <legend>Where are you ?</legend>
                <label>Your Country</label>
                <select ng-model="yourCountry">
                  <option value=""></option>
                  <option value="Belgium">Belgium</option>
                  <option value="France">France</option>
                  <option value="Germany">Germany</option>
                </select>
              </fieldset>
            </form>
        </div>
    </body>
   <script src="res/angular.min.js"></script>

</html>
 
