<!DOCTYPE html>
<html>
    
    <head>
        <title>Hello World</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="res/jquery.mobile-1.3.1.css" rel="stylesheet">
    </head>
    
    <body ng-app>
        <div data-role=page>
            <div data-role="header">
                <h1>Hello {{yourCountry}}</h1>
            </div>
            <div data-role="content">
                <form>
                    <fieldset data-role="controlgroup">
                        <legend>Where are you ?</legend>
                        <label for="countryselect" class="select">Your Country</label>
                        <select id="countryselect" name="countryselect" ng-model="yourCountry">
                            <option value="World">World</option>
                            <option value="Belgium">Belgium</option>
                            <option value="France">France</option>
                            <option value="Germany">Germany</option>
                        </select>
                    </fieldset>
                </form>
            </div>
        </div>
    </body>
    <script src="res/angular.min.js"></script>
    <script src="res/jquery-1.9.1.min.js"></script>
    <script src="res/jquery.mobile-1.3.1.min.js"></script>

</html>
